<?xml version="1.0"?>
<ruleset name="WHMCS ConnectReseller">
    <description>PSR-12 for new ConnectReseller library and tests</description>
    <rule ref="PSR12"/>
    <file>modules/registrars/connectreseller/lib/ApiClient.php</file>
    <file>modules/registrars/connectreseller/lib/DomainMapper.php</file>
    <file>modules/registrars/connectreseller/lib/Sensitive.php</file>
    <file>modules/registrars/connectreseller/lib/ContractSupport.php</file>
    <file>modules/registrars/connectreseller/lib/DomainLock.php</file>
    <file>modules/registrars/connectreseller/lib/KycCron.php</file>
    <file>modules/addons/connect_reseller/lib/PriceSyncTask.php</file>
    <file>tests</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
        <exclude-pattern>*/modules/*</exclude-pattern>
        <exclude-pattern>*/tests/bootstrap.php</exclude-pattern>
    </rule>
    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="p"/>
</ruleset>
