parameters:
    level: 1
    phpVersion: 70400
    paths:
        - modules/registrars/connectreseller/lib/ApiClient.php
        - modules/registrars/connectreseller/lib/DomainMapper.php
        - modules/registrars/connectreseller/lib/Sensitive.php
        - tests
    excludePaths:
        - vendor
    treatPhpDocTypesAsCertain: false
